.discover {
    &__content {
        height: 270px;
        width: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--first {
            background-image: url(.././img/parallax-5-filter.jpg);
        }
        &--second {
            background-image: url(.././img/parallax-6-filter.jpg);
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        & h5, & h6  {
            color: var(--white-color);
        }
    }
}