.proposal {
    padding-top: 60px;
    padding-bottom: 76px;

    background-color: var(--white-color);
    &__item {
        display: block;
        position: relative;
        
        margin-bottom: 24px;
        
        overflow: hidden;
        &:hover .proposal__view {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
    &__img {
        display: block;
     
        width: 100%;
     
        -o-object-fit: contain;
           object-fit: contain;
    }
    &__overlay {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
     
        height: 100%;
     
        background-image: -webkit-gradient(
            linear,
            left bottom, left top,
            from(rgba(0, 0, 0, 0.2)),
            to(rgba(196, 33, 33, 0.1))
        );
        background-image: -o-linear-gradient(
            bottom,
            rgba(0, 0, 0, 0.2),
            rgba(196, 33, 33, 0.1)
        );
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.2),
            rgba(196, 33, 33, 0.1)
        );
    }
    &__logo {
        position: absolute;
        top: 25px;
        left: 25px;
      
        width: 40px;
        height: 40px;
    }
    &__info {
        position: absolute;
        left: 30px;
        bottom: 30px;
     
        color: var(--white-color);
    }
    &__name {
        display: block;
       
        margin-bottom: 12px;
       
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
    }
    &__package-quantity {
        display: block;
       
        font-size: 1.3rem;
        line-height: 1.3rem;
        letter-spacing: 0.2rem;
    }
    &__view {
        position: absolute;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        bottom: 0;
        
        height: 100%;
        width: 100%;
        
        color: var(--white-color);
        background-color: var(--aqua-color);
        
        will-change: opacity;
        animation: FaceInSlide linear 0.5s;
        -webkit-animation: FaceInSlide linear 0.5s;
}
    &-view {
        &__title {
            margin-top: 0;
            
            font-size: 2rem;
            font-weight: 700;
            line-height: 2rem;
        }
        &__option {
            margin: 0;
            
            font-size: 1.4rem;
            line-height: 2.7rem;
        }
        &__btn {
            margin-top: 18px;
        }
    }
}
