.show-all-packages {
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    height: 235px;

    background-image: url(.././img/parallax-search-2.jpg);
    &__text {
        font-size: 50px;
        line-height: 50px;
        
        color: var(--white-color);
    }
    &__btn {
        padding: 16px 34px;
    }
}