.tour {
    padding: 75px 0;
    &__content {
        padding: 20px 0;
    }
    &__text {
        margin: 10px 0;
        
        font-size: 1.4rem;
        line-height: 2.7rem;
        letter-spacing: 0.1rem;

        color: var(--gray-color);
    }
    &__price {
        &-old {
            margin-right: 12px;
            
            font-size: 3rem;
            line-height: 3rem;
            text-decoration: line-through;
            
            color: var(--gray-da-color);
        }
        &-current {
            margin-right: 12px;
            
            font-size: 3rem;
            line-height: 3rem;
            
            color: var(--text-color);
        }
        &-dollar {
            margin-right: 12px;
            
            font-size: 3rem;
            line-height: 3rem;
            
            color: var(--text-color);
        }
        &-for {
            margin-right: 12px;
            
            font-size: 1.4rem;
            line-height: 1.4rem;
            
            color: var(--text-color);
        }
        margin-bottom: 30px;
    }
    &__slide {
        position: relative;
        
        margin-bottom: 115px;
        padding-top: 56.25%;
    }
    &-slide {
        &__img {
            position: absolute;
            right: 0;
            bottom: 0;
            
            height: 100%;
            width: 100%;
            
            -o-object-fit: cover;
               object-fit: cover;
        }
        &__control {
            display: flex;
            display: -webkit-box;
            position: absolute;
            display: -ms-flexbox;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            top: 24px;
            left: 0;
            right: 0;
            gap: 20px;

            width: 100%;
        }
        &__btn {
            display: block;
            
            height: 3px;
            width: 60px;
            
            background-color: rgba($color: #fff, $alpha: 0.2);
            &--active {
                background-color: var(--white-color);
            }
        }
    }
    &-time {
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        left: 50%;
        
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        &__item {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            
            height: 115px;
            width: 122px;
           
            background-color: var(--aqua-color);
            color: var(--white-color);
            &:not(:first-child)::before {
                content: '';
                position: absolute;
                left: -1.5px;
                
                height: 40%;
                width: 3px;
                
                background-color: var(--aqua-color);
                
                -webkit-filter: brightness(90%);
                        filter: brightness(90%);
                -webkit-transform: skewX(-9deg);
                    -ms-transform: skewX(-9deg);
                        transform: skewX(-9deg);
            }
        }
        &__number {
            display: block;
            
            margin-bottom: 8px;
            
            font-size: 3.5rem;
            letter-spacing: 0.1rem;
            line-height: 3.5rem;
            text-align: center;
        }
        &__text {
            display: block;
            
            font-size: 1.3rem;
            line-height: 1.3rem;
            letter-spacing: 0.2rem;
            text-transform: uppercase;
            text-align: center;
        }
    }
    &__option {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        
        &-img {
            -ms-flex-negative: 0;
            flex-shrink: 0;
            
            margin-right: 20px;
            
            height: 52px;
            width: 52px;
            
            -o-object-fit: cover;
               object-fit: cover;
        }
        &-content {
            -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                    flex-grow: 1;
        }
        &-title {
            margin: 0;
            
            font-size: 2.4rem;
            line-height: 2.4rem;
            letter-spacing: 0.1rem;
            
            color: var(--text-color);
        }
        &-desc{
            margin: 20px 0;
            
            font-size: 1.4rem;
            line-height: 2.4rem;
            letter-spacing: 0.1rem;
            
            color: var(--gray-color);
        }
        &-more {
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
            line-height: 1.4rem;
            text-decoration: none;
            
            color: var(--aqua-color);
        }
    }
}