.typologie {
    text-align: center;
    &__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        
        padding-left: 0;
        
        list-style: none;
    }
    &__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
       
        height: 105px;
        width: 113px;
        
        margin: 16px;
        padding: 20px;
        
        background: rgba(0, 0, 0, 0.2);
    }
    &__link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        font-size: 1.1rem;
        letter-spacing: 0.2rem;
        line-height: 1.1rem;
        text-transform: uppercase;
        text-decoration: none;
        
        color: var(--white-color);
      
    }
    &__img {
        height: 40px;
        width: 40px;
        
        margin-bottom: 8px;
       
        -o-object-fit: cover;
           object-fit: cover;
    }
}